<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm the app component</h3>
      <hr />
      <app-servers></app-servers>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-6">
      <app-warning-alert></app-warning-alert>
    </div>
    <div class="col-xs-6">
      <app-success-alert></app-success-alert>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-user></app-user>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <app-secret-password></app-secret-password>
    </div>
  </div>
</div>
