<button
  type="button"
  class="btn btn-danger"
  (click)="onUpdatePasswordVisibility()"
>
  Display details
</button>
<br />
<p *ngIf="passwordVisibility; else noPasswordVisibility">
  Secret password = tuna
</p>
<ng-template #noPasswordVisibility>
  <p>
    Click the button to show password
  </p>
</ng-template>
<ul>
  <li
    *ngFor="let logEntry of passwordShownLog; index as logIndex"
    [ngStyle]="{ backgroundColor: getBackgroundColor(logIndex, 4) }"
    [ngClass]="{ whiteColor: logIndex >= 4 }"
  >
    {{ logEntry }}
  </li>
</ul>
